.atas {
    padding: 0px !important;
    margin: 0px;
}

.jumbotron-1 {
    background-image: url(../img/cover.png);
    background-color: #1F1D1D !important;
    background-size: cover;
    height: 715px;
    
}

.jumbotron-2 {
    background-image: url(../img/parallax.jpg);
    /* background-color: #1F1D1D !important; */
    background-size: cover;
    height: 300px;
    
}

.jumbotron-3 {
    background-image: url(../img/footer.jpg);
    /* background-color: #1F1D1D !important; */
    background-size: cover;
    height: 300px;
    
}

html{
     scroll-behavior: smooth;
}




.isi-atas{
    font-family: 'Dosis', sans-serif;
    text-color: white !important;
 }

 .display-4{
    font-family: 'Playfair Display', serif;
     padding-top:100px ;
     color: white;
     text-align: center;
     font-size: 70px !important;
     
 }
 
 .lead{
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: lighter;
    
 }

 .uk-position-bottom{
    margin-top: 300px !important;
 }

 .konek{
    text-align: center;
    margin-top: 110px;
    margin-bottom: 40px;
    font-size: 17px;
    color: white;
    font-weight: lighter;
 }


 .nav-link {
     margin: 10px;
     
 }

.icon {
   
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
       
    
      
}

.proyek .row .col img{
    width: auto;
    height: 200px;
}

.lightbox-gallery{
    background-image: linear-gradient(#7D7D7D, #f1f1f1);
    background-repeat: no-repeat;
    color: #000;
    overflow: hidden;
}

.lightbox-gallery p {
    color: #fff;
}

.lightbox-gallery h1 {
    font-weight: bold ;
    margin-bottom: 40px;
    padding-top: 40px;
    color: #fff;
}

.lightbox-gallery .intro{
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
}


.lightbox-gallery .intro p {
    margin-bottom: 0;
}

.lightbox-gallery .photos {
    padding-bottom: 20px
}

.lightbox-gallery .item {
    padding-bottom: 30px
}

.gambar-about{
    width: 0px;
    height:0px;
}

.jarak {
    margin : 25px 25px 25px 25px;
}

.judul {
    font-family: 'Playfair Display', serif;
    text-align: center !important;
}

.isi{
    font-family: 'Dosis', sans-serif;
}

.italic{
    font-family: 'Bodoni Moda', serif;
}

.parallax{

    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .italic {
    font-family: 'Bodoni Moda', serif;
    color:white;
}

.blockquote-footer{
    color: white !important;
}

.miring {
    font-family: 'Bodoni Moda', serif;
}

.sub-judul {
    font-family: 'Bodoni Moda', serif;

}

html {
    scroll-behavior: smooth;
}

.footer {
    text-align: center;
    padding: 0px;
    background-color: grey;
    color: white;
    width: 100%;
    margin: 10px;
    display: inline-block;
}

.judulslider{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 20px;
    text-shadow:5px 5px 10px black;
}
.isislider {
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: 20px;
    text-shadow:5px 5px 10px black;
}

.container-footer{
    width: auto;
    height: 70px;
    background-color: black;
}

.copyright{
    color: white;
    text-align: center;
    margin
}

footer p {
    text-align: center;  
    background-color: black;
    height: 70px;
    width: 100%;
    color: white;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}


@media (min-width: 1200px) { 

.gambar{
    width:100%;
    margin-top: -100px;
}
.jumbotron-1{
    height: 850px;
}

.jumbotron-2{
    height: 300px;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.about p {
    padding-left: 200px;
}

.about h1 {
    padding-left: 50px
}

.proyek .row .col img{
    width: auto;
    height: 100px;
}

.lightbox-gallery h1 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
}
.gambar-about{
    width: 200px;
    height:200px;
    margin-left: 12px;
}

.jarak {
    margin : 40px 40px 40px 40px;
}

.judul {
    font-family: 'Playfair Display', serif;
    color: rgb(99, 99, 99);
    text-align: left !important;
}

.isi{
    font-family: 'Dosis', sans-serif;
}


.italic {
    font-family: 'Bodoni Moda', serif;
    color:white;
}

.blockquote-footer{
    color: white !important;
}

.parallax{

  min-height: 350px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.miring {
    font-family: 'Bodoni Moda', serif;
}

.sub-judul{
    font-family: 'Bodoni Moda', serif;
   
}

section {
    transition-timing-function:ease;
}

.isi-atas{
    font-family: 'Dosis', sans-serif;
    text-color: white !important;
 }

 .tinggislider{
     height: 100px !important;
 }

 .carousel-item {
    height: 700px;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 700px;
  }

  .judulslider{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 30px;
    text-shadow:5px 5px 10px black;
}
.isislider {
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: 20px;
}

.display-4{
    font-family: 'Playfair Display', serif;
     padding-top:250px ;
     color: white;
     text-align: center;
     font-size: 60px;
     
 }
 
 .lead{
    text-align: center;
    font-size: 20px;
    color: white;
    
 }

 .nav-link:hover::after{
     content: "";
     display: block;
     border-bottom: 3px solid white;
     width: 50%;
     margin: auto;
     padding-bottom: 5px;
     margin-bottom: -8px;
 }

.uk-position-center a{
    margin-top: 50px;
}

html{
     scroll-behavior: smooth;
}
}

